body {
  background-image: url('https://s3.amazonaws.com/codecademy-content/projects/make-a-website/lesson-3/background.jpg');
  background-size: cover;
}
    
#container {
  
  margin-top= 50px;
  margin-left= 100px;
  margin-right= 100px;
  
  padding: 10px 150px 10px 150px;
  
  border-radius: 15px;
  background-color: #C4CECD;
  
  text-align: left;
    
}


