body {
  background-image: url('https://s3.amazonaws.com/codecademy-content/projects/make-a-website/lesson-3/background.jpg');
  background-size: cover;
}
    
#container {
  
  margin-top= 50px;
  margin-left= 100px;
  margin-right= 100px;
  
  padding: 10px 150px 10px 150px;
  
  border-radius: 80px;
  border-right-width: 100px;
  background-color: #B0C4DE;
  
  text-align: center;
  
    
}

.contact {
  font-size: 10px;
  margin-bottom: -20px;
  float: right !important;
}

p {
  font-family: Arial;
  margin-top: -10px;
  margin-bottom: 70px;
  
}

.title {
  opacity: 0.50;
  font-width: 100;
  margin-top: -20px;
  
}

h2 {
  margin-top: 20px;
}

